.form--primary {
  padding: 43px 10px;

  background-image:
    image-set(
      url("../../img/form/background-mobile@1x.webp") 1x type("image/webp"),
      url("../../img/form/background-mobile@2x.webp") 2x type("image/webp"),
      url("../../img/form/background-mobile@1x.jpg") 1x type("image/jpg"),
      url("../../img/form/background-mobile@2x.jpg") 2x type("image/jpg")
    );

  @media (min-width: $min-tablet-width) {
    padding: 0;
    width: 100%;
    border-radius: 16px;

    background-image:
      image-set(
        url("../../img/form/background-tablet@1x.webp") 1x type("image/webp"),
        url("../../img/form/background-tablet@2x.webp") 2x type("image/webp"),
        url("../../img/form/background-tablet@1x.jpg") 1x type("image/jpg"),
        url("../../img/form/background-tablet@2x.jpg") 2x type("image/jpg")
      );
  }

  @media (min-width: $desktop-width) {
    background-image:
      image-set(
        url("../../img/form/background-desktop@1x.webp") 1x type("image/webp"),
        url("../../img/form/background-desktop@2x.webp") 2x type("image/webp"),
        url("../../img/form/background-desktop@1x.jpg") 1x type("image/jpg"),
        url("../../img/form/background-desktop@2x.jpg") 2x type("image/jpg")
      );
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 15px;
  padding-bottom: 27px;
  border-radius: 16px;
  color: $color-advantages;
  background-color: $background-special;

  @media (min-width: $min-tablet-width) {
    width: 442px;
    padding: 30px 40px 36px;
  }

  @media (min-width: $desktop-width) {
    width: 490px;
    padding: 30px 70px 40px;
  }
}

.form__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  color: $color-light;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 20px;
    padding: 11px 0;
    font-size: 28px;
    line-height: 28px;
  }

  @media (min-width: $min-tablet-width) {
    padding: 14px 0;
    font-size: 32px;
    line-height: 36px;
  }
}

.form__subtitle {
  margin: 0;
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 40px;
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    line-height: 26px;
  }
}

.form__label {
  margin-bottom: 20px;
}

.form__label-name {
  display: block;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 14px;
  opacity: 0.8;

  @media (min-width: $min-tablet-width) {
    font-size: 14px;
    line-height: 20px;
  }

  @media (min-width: $desktop-width) {
    line-height: 18px;
  }
}

.form__input {
  box-sizing: border-box;
  padding: 15px 24px;
  width: 100%;
  border: 1px solid rgba($border-light, 0.3);
  border-radius: 8px;
  background-color: transparent;

  // font-size: 14px;
  // line-height: 14px;
  color: $color-advantages;
}

.form__textarea {
  box-sizing: border-box;
  padding: 15px 24px;
  width: 100%;
  border: 1px solid rgba($border-light, 0.3);
  border-radius: 8px;
  color: $color-advantages;
  background-color: transparent;
}

.form__label--select {
  position: relative;
}

.form__label--select .form__label-name {
  @media (min-width: $desktop-width) {
    line-height: 14px;
  }
}

.form__select {
  appearance: none;
  box-sizing: border-box;
  padding: 17px 19px;
  width: 100%;
  margin-right: 10px;
  border: 1px solid rgba($border-light, 0.3);
  border-radius: 8px;
  color: $color-advantages;
  background-color: transparent;
  font-size: 14px;
  line-height: 14px;

  @media (min-width: $min-tablet-width) {
    margin: 0;
  }
}

.form__select-after {
  position: absolute;
  top: 43px;
  right: 21px;
  width: 16px;
  height: 16px;
  background-color: $background-primary;
  mask-image: url("/__spritemap#sprite-expand-arrow-view");
  mask-repeat: no-repeat;
  mask-size: 100%;

  @media (min-width: $min-tablet-width) {
    top: 50px;
  }

  @media (min-width: $desktop-width) {
    top: 43px;
  }
}

.form__checkbox-label {
  display: flex;
  gap: 10px;
  align-items: center;
}

.form__checkbox-label-name {
  font-size: 12px;
  line-height: 14px;
  color: $color-light;

  @media (min-width: $min-tablet-width) {
    line-height: 12px;
  }
}

.form__checkbox-label-name br {
  @media (min-width: $min-tablet-width) {
    display: none;
  }
}

.form__checkbox-span {
  position: relative;
  min-width: 20px;
  height: 20px;
  background-color: $background-primary;
  border-radius: 2px;

  &::before {
    position: absolute;
    display: none;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $icons-background-main;
    mask-position: center;
    mask-size: 10px 10px;
    mask-image: url("/__spritemap#sprite-check-view");
    mask-repeat: no-repeat;
  }
}

.form__checkbox-input:checked ~ .form__checkbox-span {
  &::before {
    display: block;
  }
}

.form__submit-button {
  margin-top: 20px;
  margin-right: 10px;
  padding-right: 68px;
  text-align: center;

  &::before {
    background-color: $icons-main;
  }

  &::after {
    background-color: $icons-background-main;
    mask-image: url("/__spritemap#sprite-links-arrow-view");
  }

  @media (min-width: $min-tablet-width) {
    margin-top: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
  }
}
