.programs {
  background-color: $background-secondary;
  position: relative;
}

.programs__wrapper {
  // display: grid;
  // grid-template-columns: 115px 52px;
  // gap: 123px;
  padding: 50px 15px;

  @media (min-width: $min-tablet-width) {
    // padding: 50px 45px;
    padding-left: 45px;
    padding-right: 0;
    gap: 123px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }
}

.programs__title {
  display: inline-block;
  margin: 0;
  margin-bottom: 30px;
  padding: 5px 4px;
  padding-left: 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $color-secondary;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 40px;
    padding: 3px 0;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 0;
    font-size: 50px;
  }
}

.programs__button-more {
  position: absolute;
  left: 15px;
  bottom: 50px;
  min-width: 205px;
  padding-left: 30px;

  &::after {
    mask-image: url('/__spritemap#sprite-links-arrow-view');
  }

  @media (min-width: $min-tablet-width) {
    min-width: 234px;
    position: relative;
    top: 0;
    right: 0;
    margin-right: 0;
    margin-left: auto;
  }
}

