.reviews__wrapper {
  padding: 50px 15px;

  @media (min-width: $min-tablet-width) {
    padding: 50px 45px;
  }

  @media (min-width: $desktop-width) {
    padding: 60px 100px;
  }
}

.reviews__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 5px 0;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $color-secondary;

  @media (min-width: $min-tablet-width) {
    margin-bottom: 40px;
    padding: 0;
    font-size: 34px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 5px 3px;
    font-size: 50px;
  }
}

.reviews__slider-navigation {
  display: flex;
  gap: 8px;
}

.reviews__slider-button {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;

  &::after {
    position: absolute;
    content: "";
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color: $icons-background-main;
    mask-image: url("/__spritemap#sprite-links-arrow-view");
  }
}

.reviews__slider-button--prev {
  &::after {
    transform: rotate(-135deg);
  }
}

.reviews__slider-button--next {
  &::after {
    transform: rotate(45deg);
  }
}

.reviews__slider-button--disabled {
  &::after {
    background-color: $button-disabled;
  }
}
