
.reviews-slider__navigation {
  display: flex;
  gap: 8px;
}

.reviews-slider__button {
  width: 22px;
  height: 22px;
  padding: 0;
  border: none;
  background-color: transparent;

  &::after {
    position: absolute;
    content: '';
    top: 6px;
    left: 6px;
    width: 10px;
    height: 10px;
    background-color: $icons-background-main;
    mask-image: url('/__spritemap#sprite-links-arrow-view');
  }
}

.reviews-slider__button--prev {
  &::after {
    transform: rotate(-135deg);
  }
}

.reviews-slider__button--next {
  &::after {
    transform: rotate(45deg);
  }
}

.reviews-slider__button--disabled {
  &::after {
    background-color: $button-disabled;
  }
}

div.reviews-slider__scrollbar.swiper-scrollbar {
  display: none;
  height: 2px;
  background-color: rgba($background-special, 0.2);

  @media (min-width: $min-tablet-width) {
    display: block;
  }
}

.reviews-slider__scrollbar .swiper-scrollbar-drag {
  background-color: $background-special;
  border-radius: 0;
}
