/* colors */
$background-primary: #ffffff;
$button-border: #316DC2;
$button-active: #316DC2;

$icons-main: #FFFFFF;
$icons-background-main: #316DC2;

$color-primary: #484848;
$font-secondary: #316DC2;
/* fonts */
$font-primary: "Manrope", sans-serif;

/* device width */
$mobile-width: 320px;
$max-mobile-width: 767px;
$min-tablet-width: 768px;
$max-tablet-width: 1439px;
$desktop-width: 1440px;
